<h1><%#= CURRENT WEEK %></h1>

<div class="dropdown-form">
  <form method="get" action="/welcome/index">
      <label for="list">View:</label>
    <select class="dropdown-form">
      <option>Current Week</option>
      <option>Monday</option>
      <option>Tuesday</option>
      <option>Wednesday</option>
      <option>Thursday</option>
      <option>Friday</option>
<!--       <option>All Upcoming</option> -->
    </select>
  </form>
</div>

<div class="invoices-table">
  <table class="invoices-table">
    <tr>
      <th class="invoices-table">Id</th>
      <th class="invoices-table">Customer</th>
      <th class="invoices-table">Address</th>
      <th class="invoices-table">Date</th>
    </tr>
    <tr>
      <% @invoices.each do |invoice| %>
        <td class="invoices-table"><%= invoice.id %></td>
        <td class="invoices-table"><%= invoice.customer %></td>
        <td class="invoices-table"><%= invoice.address %></td>
        <td class="invoices-table"><%= invoice.delivery_date %></td>
      <% end %>
    </tr>
  </table>
</div>
